<h1 class="w3-center">Lectura de Datos</h1>
<div class="w3-container ">

<table class="   " id="doc" >
  <thead>
  <tr class="w3-center  ">
    <th class="w3-center ">Usuario</th>
    <th class="w3-center ">ID</th>
    <th colspan="7" class="w3-center "> Fecha</th>
    <th colspan="4" class="w3-center "> Entradas 0-5v</th>
    <th colspan="4" class="w3-center " > Entradas 0-10v</th>
    <th colspan="8" class="w3-center " > Entradas 4-20mv</th>
    <th colspan="8" class="w3-center "> Entradas 0-24v</th>


  </tr>
      <tr class="w3-center w3-blue w3-small">

        <th ></th>
        <th ></th>
        <th class="w3-center " colspan="7">DD/MM/YYYY HH:MM:SS</th>
        <th class="w3-center ">A1</th>
        <th class="w3-center ">A2</th>
        <th class="w3-center ">A3</th>
        <th class="w3-center ">A4</th>
        <th class="w3-center ">B1</th>
        <th class="w3-center ">B2</th>
        <th class="w3-center ">B3</th>
        <th class="w3-center ">B4</th>
        <th class="w3-center " >C1</th>
        <th class="w3-center ">C2</th>
        <th class="w3-center ">C3</th>
        <th class="w3-center ">C4</th>
        <th class="w3-center ">C5</th>
        <th class="w3-center ">C6</th>
        <th class="w3-center ">C7</th>
        <th class="w3-center ">C8</th>
        <th class="w3-center ">D1</th>
        <th class="w3-center ">D2</th>
        <th class="w3-center ">D3</th>
        <th class="w3-center ">D4</th>
        <th class="w3-center ">D5</th>
        <th class="w3-center ">D6</th>
        <th class="w3-center ">D7</th>
        <th class="w3-center ">D8</th>
      </tr>
      </thead>
      <tbody>
      <div id="documets">

        <%= render "index"%>
      </div>
    </tbody>
</table>
</div>

<div class="ff" id="container" style="min-width: 310px; max-width: 500px; height: 300px; margin: 0 0"></div>
<script type="text/javascript">
var g= <%= raw @tlast.lcc1%>;

Highcharts.chart('container', {

  chart: {
      type: 'gauge',
      plotBackgroundColor: null,
      plotBackgroundImage: null,
      plotBorderWidth: 0,
      plotShadow: true
  },

  title: {
      text: 'Termometro'
  },

  pane: {
      startAngle: -150,
      endAngle: 150,
      background: [{
          backgroundColor: {
              linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
              stops: [
                  [0, '#FFF'],
                  [1, '#333']
              ]
          },
          borderWidth: 0,
          outerRadius: '109%'
      }, {
          backgroundColor: {
              linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
              stops: [
                  [0, '#333'],
                  [1, '#FFF']
              ]
          },
          borderWidth: 1,
          outerRadius: '107%'
      }, {
          // default background
      }, {
          backgroundColor: '#000',
          borderWidth: 0,
          outerRadius: '105%',
          innerRadius: '103%'
      }]
  },

  // the value axis
  yAxis: {
      min: 0,
      max: 80,

      minorTickInterval: 'auto',
      minorTickWidth: 1,
      minorTickLength: 10,
      minorTickPosition: 'inside',
      minorTickColor: '#666',

      tickPixelInterval: 30,
      tickWidth: 2,
      tickPosition: 'inside',
      tickLength: 10,
      tickColor: '#666',
      labels: {
          step: 1,
          rotation: 'auto'
      },
      title: {
          text: ''
      },
      plotBands: [{
          from: 0,
          to: 30,
          color: '#55BF3B' // green
      }, {
          from: 30,
          to: 50,
          color: '#DDDF0D' // yellow
      }, {
          from: 50,
          to: 80,
          color: '#DF5353' // red
      }]
  },

  series: [{                     //json que importa
      name: 'Temperatura',
      data: [g],
      tooltip: {
          valueSuffix: ' C°'
      }
  }]

}
// Add some life
// function (chart) {
//   if (!chart.renderer.forExport) {
//       setInterval(function () {
//           var point = chart.series[0].points[0],
//               newVal,
//               inc = Math.round((Math.random() - 0.5) * 20);
//
//           newVal = point.y + inc;
//           if (newVal < 0 || newVal > 200) {
//               newVal = point.y - inc;
//           }
//
//           point.update(newVal);
//
//       }, 3000);
//   }
// }
);
</script>

<div class="ff" id="container2"></div>



<script type="text/javascript">
var t = <%= raw @table%>;

Highcharts.chart('container2', {
//json con estas caracteristicas
title: {
  text: 'Datos '
},

subtitle: {
  text: ''
},

yAxis: {
  title: {
    text: 'Values'
  }
},
legend: {
  layout: 'vertical',
  align: 'right',
  verticalAlign: 'middle'
},

plotOptions: {
  series: {
    pointStart: 30
  }
},

series: [{
  name: 'Presion',
  data: t
}]

});
</script>
